*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.app{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ddd6d6;
}